
.titleImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    height: 20%;
}

.enterBtn{
    margin-left: 37%;
    margin-top: 5%;
    width: 25%;
    font-weight: bold;
    font-size: 200%;
    height: 12%;
}

@media all and (max-height: 540px) , all and (max-width: 700px) {
    .enterBtn{
        font-size: 150%;
        height: 12%;
    }
}

@media all and (max-height: 300px) , all and (max-width: 400px) {
    .enterBtn{
        font-size: 80%;
        height: 12%;
    }
}