<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlayersInGameServlet</servlet-name>
        <servlet-class>Servlets.UpdatedPlayersInGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameInfoServlet</servlet-name>
        <servlet-class>Servlets.GameInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamesListServlet</servlet-name>
        <servlet-class>Servlets.GamesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGameServlet</servlet-name>
        <servlet-class>Servlets.NewGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterServlet</servlet-name>
        <servlet-class>Servlets.EnterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>Servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserGameServlet</servlet-name>
        <servlet-class>Servlets.updateUserGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameBoardServlet</servlet-name>
        <servlet-class>Servlets.GameBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutFromCurrGameServlet</servlet-name>
        <servlet-class>Servlets.LogoutFromCurrGameServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>InsertDiskServlet</servlet-name>
        <servlet-class>Servlets.InserDiskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isActiveGameServlet</servlet-name>
        <servlet-class>Servlets.isActiveGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopOutDiskServlet</servlet-name>
        <servlet-class>Servlets.PopOutDiskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countCompPlayersServlet</servlet-name>
        <servlet-class>Servlets.countCompPlayersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>countCompPlayersServlet</servlet-name>
        <url-pattern>/pages/GameLobby/Lobby/compPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopOutDiskServlet</servlet-name>
        <url-pattern>/pages/CurrGame/Game/popOutDisk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDiskServlet</servlet-name>
        <url-pattern>/pages/CurrGame/Game/insertDisk</url-pattern>
    </servlet-mapping>
<servlet-mapping>
    <servlet-name>GameBoardServlet</servlet-name>
    <url-pattern>/pages/CurrGame/Game/GameBoard</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>isActiveGameServlet</servlet-name>
        <url-pattern>/pages/CurrGame/Game/isActiveGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutFromCurrGameServlet</servlet-name>
        <url-pattern>/pages/CurrGame/Game/LogoutFromCurrGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserGameServlet</servlet-name>
        <url-pattern>/pages/GameLobby/Lobby/updateUserGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlayersInGameServlet</servlet-name>
        <url-pattern>/pages/GameLobby/Lobby/updatedSignedPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/SignUp/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameInfoServlet</servlet-name>
        <url-pattern>/pages/CurrGame/Game/GameInfo</url-pattern>
        <url-pattern>/pages/CurrGame/Game/nextPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGameServlet</servlet-name>
        <url-pattern>/pages/GameLobby/Lobby/createNewGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterServlet</servlet-name>
        <url-pattern>/enter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/pages/GameLobby/Lobby/userslist</url-pattern>
        <url-pattern>/pages/CurrGame/Game/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamesListServlet</servlet-name>
        <url-pattern>/pages/GameLobby/Lobby/gameList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/pages/GameLobby/Lobby/logout</url-pattern>
        <url-pattern>/pages/CurrGame/Game/loggedUser</url-pattern>
    </servlet-mapping>
</web-app>