body {
    background-image: url("/Images/background.png");
}

input[type="submit"]{
    border-width: 3px;
    border-color: yellow;
    background-image: linear-gradient(#039195, #c87a6a),
    linear-gradient(#4bb7be, #8c9987),
    linear-gradient(#8cd4d7, #0a8489),
    linear-gradient(#30aab2 0%, #8b9a89 50%, #c87a6a 100%);
    border-radius: 33px;
    color: #eaffff;
    font-weight: bold;
}

.btn{
    border-width: 3px;
    border-color: yellow;
    border-style: solid;
    background-image: linear-gradient(#039195, #c87a6a),
    linear-gradient(#4bb7be, #8c9987),
    linear-gradient(#8cd4d7, #0a8489),
    linear-gradient(#30aab2 0%, #8b9a89 50%, #c87a6a 100%);
    border-radius: 33px;
    color: #eaffff;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-image:
        /*linear-gradient(from 0% 0% to 15% 50% rgba(255,255,255,0.9), rgba(255,255,255,0)),*/
            linear-gradient(#30aab2 0%, #8b9a89 50%, #c87a6a 100%),
            linear-gradient(#8cd4d7, #0a8489),
            linear-gradient(#4bb7be, #8c9987),
            linear-gradient(#039195, #c87a6a);
}
